:root {
    --header-bg-color: rgba(0,0,79,0.9);
    --header-blend: rgba(0,0,0,0);
    --nav-color: rgba(13, 38, 153, 0.75);
}

html {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 110px;
    background: linear-gradient(var(--header-bg-color) 0%, var(--header-bg-color) 96%, black 97%, var(--header-blend) 100%);
}

.logo {
    position: fixed;
    top: 10px;
    left: 15px;
    width: 160px;
}

.logobg {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100px;
    z-index: -100;

}

.nav {
    position: fixed;
    right: -120px;
    top: 5px;
}

.navTab {
    font-weight: bold;
    background-color: var(--nav-color);
    width: 160px;
    right: -100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px 2px white, -1px 0px 2px white;;
}

.navItem {
    background-color: var(--nav-color);
    width: 110px;
    right: -100px;
    margin-left: 40px;
    padding-left: 10px;
    box-shadow: 1px 1px 2px white
}

.navLast {
    border-bottom-left-radius: 10px;
    ;
}

.nav a {
    color: white;
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0);
}

.nav a:hover {
    text-shadow: 1px 1px 2px black;
}

.menuIn {
    animation: slideIn 0.47s 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in;
}

.menuOut {
    animation: slideOut 0.47s 1;
}

.content {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-indent: 20px;
    margin-right: 4%;
    width: 75%;
    border: 3px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: -2px 2px 4px black;
}

h4 {
    width: 140px;
    padding-left: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 155, 0.808);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 1px 1px 2px black;
}


@keyframes slideIn {
    0% {
        right: -120px;
    }
    100% {
        right: 0px;
    }
}

@keyframes slideOut {
    0% {
        right: 0px;
    }
    100% {
        right: -120px;
    }
}

@media screen and (min-width: 576px){
    header {
        height: 140px;
    }

    .logo {
        width: 200px;
    }

    .logobg {
        height: 130px;
    }
}